
<head>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<style>
#map {
    width: 960px;
    height:500px;
}
</style>

</head>

<script>

    var map = L.map('map',{scrollWheelZoom:false}).setView([42.389145, -72.524773], zoom: 1.5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

   L.marker([42.38925592733096, -72.52525571127184]).addTo(map).bindPopup("<b>Leontine Alkema</b><br>UMass, Amherst");
   L.marker([1.2962888904294114, 103.77765106482704]).addTo(map).bindPopup("<b>Alex R. Cook</b><br>NUS");
   L.marker([40.750907988361654, -73.96960264798585]).addTo(map).bindPopup("<b>Patrick Gerland</b><br>UN");
   L.marker([48.85596833844135, 2.3316521007257864]).addTo(map).bindPopup("<b>Christophe Z. Guilmot</b><br>Université de Paris");
</script>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

